{% extends 'Partials/_base.html' %} {% load static %} {% block title %}
<title>Employee Overview</title>
{% endblock title %} {% block cssfiles %}
<link rel="stylesheet" href="{% static 'EmployeeApp/css/EmployeeApp.css' %}" />
{% endblock cssfiles %} {% block body %}

<div class="container mt-5">

  <h2 class="mb-4">Employee Overview</h2>

  {% include 'Pagination\DataTableOverview.html' %}

</div>

{% endblock body %} {% block jsfiles %}

<script></script>

<script src="{% static 'EmployeeApp/js/script.js' %}"></script>

{% endblock jsfiles %}
